button {
	color: var(--white);
	padding: 0.16rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	font-weight: 700;
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: var(
			--button,
			linear-gradient(98deg, #e42037 32.1%, #a70a1c 70.36%)
		);
		z-index: 5;
		transition: opacity 0.35s linear;
	}
	&::after {
		background: linear-gradient(265deg, #e42037 17.59%, #a70a1c 64.07%);
		box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0);
		z-index: 1;
		transition: box-shadow 0.35s linear;
	}
	&:hover {
		&::before {
			opacity: 0;
		}
		&::after {
			box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.25);
		}
	}
	&:active {
		&::before {
			opacity: 0;
		}
		&::after {
			box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0);
		}
	}
}
.btn-nav {
	transition: color 0.35s linear;
	&::before,
	&::after {
		display: none;
	}
	@media all and (min-width: 1024px) {
		&:hover {
			color: var(--red);
		}
	}
}
